# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\我的雲端硬碟\東吳大學\rotation_m_closure_property\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
